<p id="notice"><%= notice %></p>

<h1>Listing Categories</h1>

<table class="table table-striped sortable categories">
  <thead>
    <tr class="table-row-heading">
      <th>Name</th>
      <th class="currency">Total Spending</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.name, category %></td>
        <td data-value="<%= category.transactions.sum(:amount) %>" class="currency"><%= number_to_currency(category.transactions.sum(:amount)) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path %>
