<p id="notice"><%= notice %></p>

<h1>Listing Categories</h1>

<table class="categories">
  <thead>
    <tr class="table-row-heading">
      <th>Name</th>
      <th class="currency">Total Spending</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.name, category %></td>
        <td class="currency"><%= number_to_currency(category.transactions.sum(:amount)) %></td>
        <td><%= link_to 'Edit', edit_category_path(category) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path %>
