<%= simple_form_for @transaction do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.hidden_field :account_id, value: '1' %>
    <%= f.input :description %>
    <%= f.input :amount %>
    <%= f.text_field 'date', class: :datepicker %>
    <%= f.collection_select(:category_id, Category.all, :id, :name)%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
