<section>
  <h1>All Transactions</h1>
  <h2>Balance: </h2>
  <p>Filters</p>

  <p><%= link_to "Last 30 days", transactions_path(age: 30.to_i) %>
  <%= link_to "Last Quarter", transactions_path(age: 91.to_i) %>  
  <%= link_to "Last 6 months", transactions_path(age: (6.months.to_i)/1.days) %></p>
  <section>
    <%= will_paginate @transactions %>
    <table class="table table-striped sortable transactions">
      <thead>
        <tr>
          <th data-defaultsort="desc" data-dateformat="DD MMM YYYY">Date</th>
          <th>Description</th>
          <th class="currency" width="40">Amount</th>
          <th>Category</th>
          <th>Account</th>
          <th data-defaultsort="disabled"></th>
        </tr>
      </thead>

      <tbody>
      <% if @transactions.blank? %>
        <tr>
          <td colspan="7">There are no transactions to show.</td>
      <% else %>
        <% @transactions.each do |transaction| %>
          <tr>
            <td><%= transaction.date %></td>
            <td class="description"><%= link_to transaction.description, transaction %></td>
            <td class="currency"><%= number_to_currency(transaction.amount, unit: "£") %></td>
            <td><%= transaction.category.name unless !transaction.category_id.present? %></td>
            <td><%= transaction.account.name %></td>
            <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
          </tr>
        <% end %>
      </tr>
      <% end %>
    </tbody>
    </table>
  </section>
</section>
<%= will_paginate @transactions %>
