<section>
  <h1>All Transactions</h1>
  <h2>Balance: </h2>
  <p><%= link_to 'New Transaction', new_transaction_path %></p>
<p>Filters</p>

<%= link_to "Last 30 days", transactions_path(timeframe: :last_30_days) %>
<%= link_to "Last Month", transactions_path(timeframe: :last_month) %>
<%= link_to "Last Quarter", transactions_path(timeframe: :last_quarter) %>
  <section>
    <table class="table table-striped sortable">
    <thead>
      <tr>
        <th data-defaultsort="desc" data-dateformat="dd mm yyyy">Date</th>
        <th>Description</th>
        <th width="40">Amount</th>
        <th>Category</th>
        <th>Account</th>
        <th data-defaultsort="disabled"></th>
      </tr>
    </thead>

    <tbody>
      <% if @transactions.blank? %>
        <tr>
          <td colspan="7">There are no transactions to show.</td>
      <% else %>
        <% @transactions.each do |transaction| %>
          <tr>
            <td><%= transaction.date %></td>
            <td>
              <%= link_to transaction.description, transaction %>
              <p class="notes"><%= transaction.notes %></p>
            </td>
            <td class="number"><%= number_to_currency(transaction.amount, unit: "£") %></td>
            <td><%= transaction.category.name unless !transaction.category_id.present? %></td>
            <td><%= transaction.account.name %></td>
            <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
          </tr>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
  </section>
</section>
<%= will_paginate @transactions %>

<section id="debug">
</section>
