<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @transaction.description %>
</p>
<p>
  <strong>Notes:</strong>
  <%= @transaction.notes %>
</p>

<p>
  <strong>Amount:</strong>
  <%= number_to_currency(@transaction.amount) %>
</p>

<p>
  <strong>Date:</strong>
  <%= @transaction.date %>
</p>

<p>
  <strong>Category:</strong>
  <%= @transaction.category.name if @transaction.category %>
</p>
<p>
  <strong>Account</strong>
  <%= @transaction.account.name %>
</p>

<%= link_to 'Edit', edit_account_transaction_path(@account, @transaction) %> |
<%= link_to 'Back to Account', account_path(@account) %>
