<header class="centered-navigation" role="banner">
  <div class="centered-navigation-wrapper">
    <nav role="navigation">
      <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
        <li class="nav-link"><%= link_to 'Accounts', accounts_path %></li>
        <li class="nav-link"><%= link_to 'Transactions', transactions_path %></li>
        <li class="nav-link more"><a href="javascript:void(0)">More</a>
          <ul class="submenu">
            <li><%= link_to 'Manage Categories', categories_path %></li>
            <li class="more"><a href="javascript:void(0)">Settings</a>
              <ul class="submenu">
                <li><%= link_to 'Profile', root_path %></li>
                <li><%= link_to 'Change Password', root_path %></li>
              </ul>
            </li>
            <li><%= link_to 'Log Off', root_path %></li>
          </ul>
        </li>
        <li class="nav-link"><a href="javascript:void(0)">About Us</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Contact</a></li>
        <li class="nav-link"><a href="javascript:void(0)">Sign up</a></li>
      </ul>
    </nav>
  </div>
</header>
