<!DOCTYPE html>
<html lang="<%= ENV['LANG'] %>">
<head>
  <meta charset="utf-8" />
  <meta name="ROBOTS" content="NOODP" />
  <meta name="viewport" content="initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.11.4/jquery-ui.js">
  <%#
    Configure default and controller-, and view-specific titles in
    config/locales/en.yml. For more see:
    https://github.com/calebthompson/title#usage
  %>
  <title><%= title %></title>
  <%= stylesheet_link_tag :application, media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= body_class %>">
  <%= render 'layouts/header' %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <%= render 'layouts/nav' %>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <%= render "flashes" %>
        <%= yield %>
      </div>
    </div>
  </div>
  <footer>
  <%= render 'layouts/footer' %>
  <footer>
</body>
</html>
