<table class="table sortable transactions">
  <thead>
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th class="currency">Amount</th>
      <th>Category</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <% if @transactions.empty? %>
      <tr>
        <td colspan="7">There are no transactions to show.</td>
    <% else %>
      <% @transactions.each do |transaction| %>
        <tr>
          <td data-dateformat="DD MMM YYYY"><%= transaction.date %></td>
          <td>
            <%= link_to transaction.description, account_transaction_path(transaction.account, transaction) %>
            <small><%= "(" + transaction.account.name  + ")" unless @account %></small>
          </td>
          <td class="currency"><%= number_to_currency(transaction.amount) %></td>
          <td><%= transaction.category.name if transaction.category %></td>
          <td><%= link_to 'Edit', edit_account_transaction_path(transaction.account, transaction) %></td>
        </tr>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
