<section>
  <h1><%= @account.name.capitalize %> Transactions</h1> <%= @account.organisation %>
  <p><%= link_to 'Edit', edit_account_path(@account) %> | <%= link_to 'Back to accounts', accounts_path %>
  <h2>Balance <%= number_to_currency(@account.account_total) %></h2>
  <%= link_to 'New Transaction', new_account_transaction_path(@account), class: 'btn btn-info' %>
  <%= link_to 'Import from CSV', new_account_import_path(@account), class: 'btn btn-info' %>

<p>
  <strong>Overdraft:</strong>
  <%= @account.overdraft %>
</p>

<p>
  <strong>Credit interest:</strong>
  <%= @account.credit_interest %>
</p>

<p>
  <strong>Debit interest:</strong>
  <%= @account.debit_interest %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %> | 

<%= render 'transactions' %>
<%= will_paginate @transactions %>
