<section>
  <h1><%= @account.name.capitalize %> Transactions</h1> (<%= @account.organisation %>)
  <%= link_to 'Edit', edit_account_path(@account) %> <%= link_to 'Back to accounts', accounts_path %>
  <h2>Balance <%= @account.balance %></h2>
  <p><%= link_to 'New Transaction', new_account_transaction_path(@account) %></p>

  <p id="notice"><%= notice %></p>

<p>
  <strong>Opening balance:</strong>
  <%= @account.opening_balance %>
</p>

<p>
  <strong>Overdraft:</strong>
  <%= @account.overdraft %>
</p>

<p>
  <strong>Credit interest:</strong>
  <%= @account.credit_interest %>
</p>

<p>
  <strong>Debit interest:</strong>
  <%= @account.debit_interest %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %> | 
<%= link_to 'Delete Account', @account, method: :delete, data: { confirm: 'Are you sure? All transactions will also be deleted.' } %>

<% render @account.transactions %>
